.searchBar {
  background: #f2f2f2;
  width: 80%;
  border-radius: 5vw;
  margin-right: 1vw;
  border-color: rgb(53, 53, 55);
}

.form{
  width: 100%;
  display: flex;    
  justify-content: center; 
}

.searchButton{
  border-radius: 5vw;
  border-color: rgb(53, 53, 55);
}

