

.searchBar {
  --padding-size: calc(var(--searchbar-height, 2.6rem) * 0.5);
  background: #f2f2f2;
  flex-grow: 1;
  height: calc(var(--padding-size) * 2);
  border-radius: var(--padding-size);
  margin-right: 1vw;
  border-color: rgb(53, 53, 55);
  padding-inline: var(--padding-size);
}

.form{

  display: flex;
  min-width: 80%;
  margin-inline: 6rem;
}

.form_container {
  --navbar-margin: 80px;
  --searchbar-height: 2.6rem;
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease;
  padding-top: var(--navbar-margin);
}

.form_centered {
  transform: translateY(calc(50dvh - var(--searchbar-height) * 0.5 - var(--navbar-margin)));
}

.searchButton{
  border-radius: 5vw;
  border-color: rgb(53, 53, 55);
}

.keywords {
  display: flex;
  max-width: 45rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-inline: auto;
}

