
.link {
    margin-inline: 1.5em;
}

.user_info {
    margin-inline: 1rem;
    
    .user_name {
        font-weight: bold;
        padding-inline-end: 2rem;
        
    }
}

.avatar {
    margin-right: 1.5rem;
}

.activeNavlink {  
  text-decoration: none;
  color: black;
  padding: 1.5rem;
  &:hover {
    text-decoration: none;    
    color: black;
    font-weight: bold;    
    text-decoration: none;
  }
}
  .nonActiveNavlink {
    text-decoration: none;
    color: black;
    opacity: 0.6;    
    padding: 1.5rem;
    &:hover {
      text-decoration: none; 
      font-weight: bold;    
      color: black;     
    }
  }





