.card{
    display: flex;
    flex-flow: row wrap;
    width: "100%";
    justify-content: space-around;
    margin: 1rem;
}

.providors{
    display: flex;
    flex-flow: row wrap;
    width: "40%";
    justify-content: center;
    padding: 2rem;
}

.settings{
    background-color: grey;
    
    width: "70%";
    
}

.button{
    margin: 1rem;
}