@use '../scss/commons.scss';

.providers{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include commons.content-centered;
}

.settings{
    background-color: grey;
    @include commons.content-centered;
}

.button{
    margin: 1rem;
}

.link{
    text-decoration: none;
    color: black;
}