@use '../scss/commons.scss';

.providers{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include commons.content-centered;
}

.nothing {
    margin-top: 5rem;
    @include commons.content-centered;
    h2, p {
        margin-bottom: 1em;
    }
}

.settings{
    background-color: rgba(248,249,250,255);
    @include commons.content-centered;
}

.button{
    margin: 1rem;
}

.link{
    text-decoration: none;
    color: black;
}