.img{
    object-fit: cover;
    border-radius: 5px;
    height: 22rem;
}

.card_body{
    border-radius: 15px;
    margin: 0.5vw;  
}

.image_block{
    position: relative;
    overflow: hidden;
}

.placeholder_under {
    position: absolute;
    z-index: -1;
}

.card {
    text-align: center;  
    --rotateX: 5deg;
    --rotateY: 5deg;
    
    transform: perspective(1000px)
      rotateX(var(--rotateX))
      rotateY(var(--rotateY));
}

.cards{
    display: grid;
    /* grid magic line */
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5rem;
    margin: 1rem;
}

.center_this {
    margin-inline: auto;
    width: fit-content;
}
