.input-group {
    border: 1px solid black;
    border-radius: 1000px;
    
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    i {
      margin-inline: 0.5em;  
    }
    
    input[type="text"] {
      flex: 1;
      padding: 0.5rem 0rem;
      border: 0;
      &:focus-visible {
        outline: transparent;
      }
    }
    
    button {
      align-self: stretch;
      border: 0;
      padding-inline: 1rem;
    }
    
    &:not(:focus-within) {
      i {
        //display: none;
        color: transparent;
        outline: 0;
      }    
    }
  }